@page
@model HendersonConsulting.Web.Pages.About.IndexModel
@{
    ViewData["Title"] = "Henderson Consulting: About";
}

<h1>About</h1>
<p>New content forthcoming.</p>
<img src="~/images/test.png" alt="thumbtest" />