@page
@model HendersonConsulting.Web.Pages.About.IndexModel
@{
    ViewData["Title"] = "Henderson Consulting: About";
}

<div class="jumbotron">
    <h1 class="display-4">About</h1>
</div>
<p>My Name is Michael Henderson. I am data architect and software programmer. I live and work in Traverse City, Michigan. I blog about data and programming with an emphasis on .Net and SQL Server.</p>
<p>I broke into the world on programming in the late 1990s. I started out writing HTML and Classic ASP. Since then I have worked as a DBA, a GIS application developer, a business intelligence developer and more. I've taught and presented at regional developer conferences.</p>
