@import url('fonts.css');

.shadow-bottom {
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.shadow-top {
    box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.2);
}


.btn-primary {
    background-color: black;
    border-color: black;
    text-transform: uppercase
}

    .btn-primary:hover {
        background-color: black;
        border-color: black;
    }

:root {
    --light: #ffffff;
    --primary: #acbee0;
    --dark: #121212;
    --medium: #bebebe;
}

.bg-dark {
    background-color: var(--dark);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Caskaydia-Regular', sans-serif;
}

.navbar {
    color: var(--light);
}

.navbar-brand {
    color: var(--light);
}

h1 {
    font-family: 'Caskaydia-Bold', sans-serif;
    text-transform: uppercase;
}

.mt-10 {
    margin-top: 75px;
}

.bg-medium {
    background-color: var(--medium)
}