@inject HendersonConsulting.Web.Services.IBuildInfoService BuildInfoService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @await RenderSectionAsync("MetaTags", required: false)
    <title>@ViewData["Title"] - Henderson Consulting</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm fixed-top bg-dark border-bottom shadow-bottom">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index">Henderson Consulting</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-page="EpochTimes">Epoch Times</a>
                        </li>
                        <li class="nav-item border-start">
                            <a class="nav-link text-light" asp-page="IpInfo">Ip Information</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a class="nav-link text-light" href="https://github.com/mhenderson442" target="_blank" name="GitHub Profile">
                                <i class="fa-brands fa-github fa-xl"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="linkedin.com/in/mohenderson" name="LinkedIn Profile" target="_blank">
                                <i class="fa-brands fa-linkedin fa-xl"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-shrink-0 mt-10">
        <div class="container">
            @RenderBody()
        </div>
    </main>


    <footer class="footer mt-auto py-3 bg-medium fixed-bottom border-top shadow-top">
        <div class="container">
            &copy; @DateTime.Now.Year - Henderson Consulting - <a asp-page="/Privacy">Privacy</a>
            <br />
            Version: @BuildInfoService.GetBuildNumber()
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>