@page
@model HendersonConsulting.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Henderson Consulting";
}

<markdown content="@Model.PageContent" /> 
<hr />
<p>@Model.DatePosted</p>
@section aside{

} 