@page
@model HendersonConsulting.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Henderson Consulting";
}

<markdown content="@Model.PageContent" /> 
<hr />
<p>@Model.DatePosted</p>
@section aside{

    <div>
        <a href="http://www.linkedin.com/in/mohenderson">
            <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Michael Henderson's profile on LinkedIn">
        </a>
        <br /><br />
    </div>
    <div>
        <iframe id="twitter-widget-0"
                scrolling="no"
                frameborder="0"
                allowtransparency="true"
                class="twitter-follow-button twitter-follow-button-rendered"
                title="Twitter Follow Button"
                src="https://platform.twitter.com/widgets/follow_button.2e798283373a8137c24e277b9b9620d6.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=mhenderson442&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1520807015439"
                style="position: static;
                visibility: visible;
                width: 157px;
                height: 20px;"
                data-screen-name="mhenderson442"></iframe>
        <br /><br />
    </div> 
} 