@page
@model HendersonConsulting.Web.Pages.Archives.Categories.IndexModel
@{
    ViewData["Title"] = "Henderson Consulting: Archives By Category";
}

<h1>Archives By Category</h1>
<p>New content forthcoming.</p>