@page
@model HendersonConsulting.Web.Pages.Archives.Dates.IndexModel
@{
    ViewData["Title"] = "Henderson Consulting: Archives By Dates";
}

<h1>Archives By Dates</h1>
<p>New content forthcoming.</p>
