@page
@model HendersonConsulting.Web.Pages.Archives.Dates.IndexModel
@{
    ViewData["Title"] = "Henderson Consulting: Archives By Dates";
}

<h1>Archives By Dates</h1>
<div class="container">
@foreach (var year in Model.Posts)
{
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">@year.Year</div>
                <div class="card-body">
                    @foreach(var month in year.Months.OrderBy(x => x.Month))
                    {
                    <div class="card">
                        <div class="card-header">@month.MonthName</div>
                        <div class="card-body">
                            <ul>
                            @foreach (var item in month.BlogPostItems.OrderBy(x => x.Name))
                            {
                                var parms = new Dictionary<string, string>
                                            {
                                                { "year", item.Prefix.Substring(0,4) },
                                                { "month", item.Prefix.Substring(5,2) },
                                                { "day", item.Prefix.Substring(8,2) },
                                                { "name", item.Name.Replace(" ", "_").ToLower() }
                                            };

                                <li><a asp-page="/Post" asp-all-route-data="parms">@item.Name.Replace("_", " ")</a>  </li>
                            }
                            </ul>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>        
    </div>
}
</div>
