@page
@model IndexModel
@{
    ViewData["Title"] = "Home page .net 8";
}

<section>
    <h2>About Me</h2>
    <p>My name is Mike Henderson. I am a creative and thorough professional driven to provide value and continuous improvement. Recognized for delivering projects ahead of schedule and budget. Extensive background working in healthcare and health-related businesses.</p>
</section>
<section>
    <h2>History</h2>
    <ul>
        <li>@Model.YearsExperience years building .Net web and desktop applications</li>
        <li>@Model.YearsExperience years extracting and transforming data from disparate data sources</li>
        <li>10+ years working in data warehouse and business intelligence environments</li>
    </ul>
</section>
<section class="mb-5">
    <h2>Technical Experience</h2>
    <h3 class="text-muted">Data</h3>
    <ul>
        <li><abbr title="Structured Query Language"><a href="https://en.wikipedia.org/wiki/SQL" target="_blank">SQL</a></abbr></li>
        <li><a href="https://azure.microsoft.com/en-us/products/azure-sql/database" target="_blank">Azure SQL Database</a></li>
        <li><a href="https://learn.microsoft.com/en-us/azure/cosmos-db/introduction" target="_blank">Azure CosmosDB</a></li>
        <li><a href="https://learn.microsoft.com/en-us/azure/synapse-analytics/overview-what-is" target="_blank">Azure Synapse</a></li>
    </ul>
    <h3 class="text-muted">Software Development Technology</h3>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C#</a></li>
        <li><abbr title="Cascading Style Sheets"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">CSS</a></abbr></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript</a></li>
        <li><abbr title="HyperText Markup Language"><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">HTML</a></abbr></li>
        <li><a href="https://dotnet.microsoft.com/en-us/learn/dotnet/what-is-dotnet" target="_blank" title="What is Net">.Net</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Software_as_a_service" target="_blank">Software as a Service</a> </li>
        <li><a href="https://en.wikipedia.org/wiki/Cloud_computing#Infrastructure_as_a_service_(IaaS)" target="_blank">Platform as a Service</a></li>
    </ul>
    <h3 class="text-muted">Software Development Practices</h3>
    <ul>
        <li><a href="https://agilemanifesto.org/" target="_blank" title="Agile Manifesto">Agile</a></li>
        <li><a href="https://www.scrum.org/learning-series/what-is-scrum/" title="Brief explanation of Scrum" target="_blank" name="What is Scrum">Scrum</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Test-driven_development" title="Brief explanation of TDD" target="_blank">Test Driven Development</a> (<abbr title="Test Driven Development">TDD</abbr>)</li>
        <li><a href="https://youtu.be/zYj70EsD7uI" title="BDD Explained (Behaviour Driven Development)" target="_blank">Behavior Driven Development</a> (<abbr title="Behavior Driven Development">BDD</abbr>)</li>
        <li><a href="https://en.wikipedia.org/wiki/Continuous_integration" title="Brief explanation of Continuous Integration" target="_blank">Continuous Integration</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Continuous_deployment" title="Brief explanation of Continuous Deployment" target="_blank">Continuous Deployment</a> </li>
    </ul>
</section>