@page
@model IndexModel
@{
    ViewData["Title"] = "Home page .net 8";
}

<section>
    <h2>About Me</h2>
    <p>My name is Mike Henderson. I am a creative and thorough professional driven to provide value and continuous improvement. Recognized for delivering projects ahead of schedule and budget. Extensive background working in healthcare and health-related businesses.</p>
</section>
<section>
    <h2>History</h2>
    <ul>
        <li>@Model.YearsExperience years building .Net web and desktop applications</li>
        <li>@Model.YearsExperience years extracting and transforming data from disparate data sources</li>
        <li>10+ years working in data warehouse and business intelligence environments</li>
    </ul>
</section>
<section class="mb-5">
    <h2>Technical Experience</h2>
    <h3 class="text-muted">Data</h3>
    <ul>
        <li><abbr title="Structured Query Language">SQL</abbr></li>
        <li>Azure SQL Database</li>
        <li>Azure CosmosDB</li>
        <li>Azure Synapse</li>
    </ul>
    <h3 class="text-muted">Software Development Technology</h3>
    <ul>
        <li>C#</li>
        <li><abbr title="Cascading Style Sheets">CSS</abbr></li>
        <li>JavaScript</li>
        <li>
            <abbr title="HyperText Markup Language">HTML</abbr>
        </li>
        <li><a href="https://dotnet.microsoft.com/en-us/learn/dotnet/what-is-dotnet" target="_blank" name="What is Net">.Net</a></li>
        <li>Software as a Service</li>
        <li>Platform as a Service</li>
        <li>Azure Infrastructure</li>
    </ul>
    <h3 class="text-muted">Software Development Practices</h3>
    <ul>
        <li>Agile</li>
        <li>Scrum</li>
        <li>Test Driven Development (<abbr title="Test Driven Development">TDD</abbr>)</li>
        <li>Behavior Driven Development (<abbr title="Behavior Driven Development">BDD</abbr>)</li>
        <li><a href="https://en.wikipedia.org/wiki/Continuous_integration" target="_blank">Continuous Integration</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Continuous_deployment" target="_blank">Continuous Deployment</a> </li>
    </ul>
</section>