@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section>
    <h2 class="mb-4">Introduction</h2>
    <p>Welcome to Henderson Consulting. I am committed to protecting your privacy and ensuring that personal information is handled in a safe and responsible manner. This privacy policy outlines how I collect, use, and protect your information.</p>
</section>
<section>
    <h2 class="mb-4">What Information is Collected?</h2>
    <p>I <u class="alert alert-warning">do not</u> collect the following types of information:</p>
    <ul>
        <li><strong>Personal Information</strong>: Name, email address, phone number, or any other information you provide voluntarily. </li>
        <li><strong>Usage Data</strong>: Information about how you use my website, such as pages visited, time spent on the site, and other analytical data.</li>
    </ul>
</section>